<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ItManagement"
        android:exported="true"
        tools:targetApi="31">

    <!-- Actividades -->

        <!-- Actividad principal al iniciar -->
    <activity
        android:name=".activities.FlashActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>


        <!-- Inicio -->
        <activity android:name=".activities.MenuInicialActivity" />
        <activity android:name=".activities.IniciarSesionActivity" />
        <activity android:name=".activities.RegistrarseActivity" />







        <!-- Inicio -->
        <activity android:name=".activities.RestablecerContrasenha01Activity" />
        <activity android:name=".activities.RestablecerContrasenha02Activity" />
        <activity android:name=".activities.MenuPrincipalSuperadministradorActivity" />
        <activity android:name=".activities.MenuPrincipalAdministradorActivity" />
        <activity android:name=".activities.MenuPrincipalClienteActivity" />


        <!-- Elementos de menus -->
        <activity android:name=".activities.AdministrarContenidoActivity" />
        <activity android:name=".activities.InformesAdministradorActivity" />
        <activity android:name=".activities.PerfilActivity" />


        <!-- Formularios -->
        <activity android:name=".activities.FormularioCambiarContrasenha01Activity" />
        <activity android:name=".activities.FormularioCambiarContrasenha02Activity" />
        <activity android:name=".activities.FormularioDivisasActivity" />
        <activity android:name=".activities.FormularioPedidosActivity" />
        <activity android:name=".activities.FormularioResenhasActivity" />
        <activity android:name=".activities.FormularioTiposUsuarioActivity" />
        <activity android:name=".activities.FormularioProductosActivity" />
        <activity android:name=".activities.FormularioCategoriaProductoActivity" />
        <activity android:name=".activities.FormularioTipoPedidoActivity" />
        <activity android:name=".activities.FormularioEstadoPedidoActivity" />

        <!-- Listas -->
        <activity android:name=".activities.ListaCategoriasProductoActivity" />
        <activity android:name=".activities.ListaDivisasActivity" />
        <activity android:name=".activities.ListaEstadosPedidoActivity" />
        <activity android:name=".activities.ListaProductosActivity" />
        <activity android:name=".activities.ListaTiposPedidoActivity" />
        <activity android:name=".activities.ListaUsuariosActivity" />
        <activity android:name=".activities.ListaTiposUsuarioActivity" />
        <activity android:name=".activities.ListaInventarioActivity" />
        <activity android:name=".activities.ListaResenhasActivity" />
        <activity android:name=".activities.ListaPedidosActivity" />



        <!-- Ediciones -->
        <activity android:name=".activities.EditarDivisaActivity" />
        <activity android:name=".activities.EditarProductoActivity" />



        <!--<activity android:name=".activities.FormularioCambiarContrasenha01Activity" />
        <activity android:name=".activities.FormularioCambiarContrasenha02Activity" />
        <activity android:name=".activities.FormularioDivisasActivity" />
        <activity android:name=".activities.FormularioEstadosActivity" />
        <activity android:name=".activities.FormularioResenhasActivity" />
        <activity android:name=".activities.FormularioRolesActivity" /> -->

    </application>

</manifest>